
.DropArea::after {
    content: "";
}
.Item {
    box-sizing: border-box;
    border-width: 1px;
    border-color: #cecece;
    border-style: solid;
    padding: 16px;
    cursor: grab;
}
.Item:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.TilePaper {
    position: absolute;
    transition: all 80ms ease-out 0s;
    background-color: rgba(255,255,255, 1.0);
    box-sizing: border-box;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #efefef;
    cursor: grab;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
 
.TileResizeHandle {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-bottom-color: rgba(0,0,0,.75);
    border-left-color: transparent;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 24px;
    border-left-width: 24px;
    cursor: nwse-resize;
}